@tailwind base;
@tailwind components;
@tailwind utilities;
.input {
  border: 2px solid #677585;  
  border-radius: 6px;          
  padding: 8px 12px;         
  outline: none;             
  transition: border-color 0.3s ease;
}
.input:focus {
  border-color: #596571;   
  box-shadow: 0 0 4px rgba(96, 185, 94, 0.6);
}
.input:hover {
  border-color: #58c069;
}
.files {
  border: 2px solid #4CAF50;
  display: inline-block;
  padding: 8px 12px;
  cursor: pointer;
  background-color: #f0f0f0;
  border-radius: 6px;
}
input[type="file"] {
  display: none;
  }
